{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.2"}
        io.pedestal/pedestal.jetty {:mvn/version "0.8.2-beta-1"}
        org.clojure/data.json {:mvn/version "2.5.1"}
        org.slf4j/slf4j-simple {:mvn/version "2.0.10"}
        base64-clj/base64-clj {:mvn/version "0.1.1"}
        clj-time/clj-time {:mvn/version "0.15.2"}}
 :aliases {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.12", :git/sha "97c5562933a7f26b406650f955cd6358554a07f1"}}
                   :ns-default :build}
           :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.5.2"}
                                cider/cider-nrepl {:mvn/version "0.58.0"}
                                refactor-nrepl/refactor-nrepl {:mvn/version "3.11.0"}}
                   :jvm-opts ["-Dio.pedestal.dev-mode=true"]
                   :main-opts ["-m" "nrepl.cmdline"
                               "--interactive"
                               "--color"
                               "--middleware" "[cider.nrepl/cider-middleware,refactor-nrepl.middleware/wrap-refactor]"]}
           :prod {:jvm-opts ["-Dio.pedestal.dev-mode=false"]}}}
